<!DOCTYPE html>
<html lang="ky">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
</head>
<body>
<style>
    body {
    background: url("https://www.shutterstock.com/shutterstock/photos/2128959116/display_1500/stock-vector-abstract-waving-particle-technology-background-design-abstract-wave-moving-dots-flow-particles-hi-2128959116.jpg") no-repeat center/cover ;
    height: 90vh;
    text-align: center;
    color: white;

    }

</style>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Вход</button>
    </form>
    {% if next %}
        <p>Киргениңизден кийин өтүү: {{ next }}</p>
    {% endif %}
</body>
</html>
